html,body {
    padding: 0;
    margin: 0;
    height: 100%;
    width: 100%;
    font-family: 'Montserrat', sans-serif;
}

@font-face {
  font-family: 'Croissant One';
  src: url('../font/croissantone-regular.ttf')  format('truetype') ;
    font-weight: normal;
}

/* GLOBAL */

.container {
    width: 1320px;
    max-width: 100%;
    margin: auto;
    font-family: 'Larke', sans-serif;
}

#browse, nav .menu li:last-child, .description #settings, .description #settings div {
    color: #ddd;
}

/* header */

header {
    color: #fff;
    height: 81px;
    background-color: #273042;
}

header #branding, header #browse, header nav{
    float: left;
}

header #branding {
    font-family: 'Croissant One', sans-serif;
    font-size: 1.1em;
}

header #branding h1{
    margin: 18px 0;
    font-weight: normal;
}

#branding h1 span {
    color: #e23943;
}

header #browse {
    margin-top: 25px;
    padding: 5px 20px;
    margin-left: 8%;
    font-size: 14px;
    position: relative;
    
}

header #browse span {
    position: absolute;
    right: 0;
    top: 7px;
}

header nav {
    float: right;
}

header nav .menu {
    margin-top: 10px;
}

nav .menu li:last-child {
    font-size: 15px;
    margin-left: 0;
    margin-right: 0;
}

nav .menu li:nth-child(3) {
    margin-right: 0;
}

header nav img {
    vertical-align: middle;
}

header nav li {
    font-size: 1.2em;
}

header li {
    list-style-type: none;
    display: inline-block;
    margin: 0 5px;
}

/* showcase */

.showcase {
    min-height: 450px;
    background: url('../images/main-image.jpg') no-repeat 45% fixed;
    -webkit-background-size: cover;
    background-size: cover;
}

.layer {
    width: 100%;
    height: 370px;
    position: absolute;
    z-index: 0;
    background: -webkit-radial-gradient(transparent -30%, #273042 80%); /* Safari 5.1- 6.0 */
    background: -o-radial-gradient(transparent -30%, #273042 80%); /* Opera 11.6-12.0 */
    background: -moz-radial-gradient(transparent -30%, #273042 80%); /* Firefox 3.6-15 */
    background: radial-gradient(transparent -30%, #273042 80%); /* Standard syntax */
}

.description {
    color: #fff;
    z-index: 2;
    position: relative;
    padding-left: 20px;
    margin-top: 65px;
}

.description .thumb {
    height: 170px;
    width: 170px;
    background: url('/images/thumb.png') center center;
    -webkit-background-size: 115%;
    background-size: 115%;
    border-radius:100%;
    border: 2px solid #fff;
    display: inline-block;
    vertical-align: middle;
}

.description .info {
    display: inline-block;
    vertical-align: middle;
    margin-left: 30px;
}

.info h1 {
    font-family: 'Croissant One';
    font-size: 2.7em;
    font-weight: normal;
    margin-bottom: 25px;
}

.info p:nth-child(2) {
    font-size: 1.10em;
    margin-bottom: 0;
}

.info p:nth-child(3) {
    font-size: 0.75em;
    margin-top: 12px;
}

.description .follow-or-settings a {
    color: #fff;
    text-decoration: none;
    background-color: #e23943;
    padding: 8px 22px;
    border-radius: 100px;
    margin-right: 12px;
    font-size: 0.95em;
}

.description .follow-or-settings {
    position: absolute;
    right: 20px;
    bottom: 10px;
}

.description #settings {
   width: 34px;
   height: 34px;
   border-radius: 100%;
    border: 1px solid #fff;
    display: inline-block;
    position: relative;
    vertical-align: middle;
}

.description #settings div {
    position: absolute;
    top: 6px;
    left: 4px;
    font-size: 1.1em;
}

/*--------------- grid *------------------------------/

/* Grid navigation */

.grid-navigation li {
    list-style-type: none;
    display: inline-block;
    color: #fff;
    font-size: .9em;
}

.grid-navigation > ul {
   padding-left: 10px;
    margin-right: 80px;
}

.grid-navigation nav li {
    margin: 0 35px;
    padding: 7px 0;
}

.grid-navigation #popular {
    display: inline-block;
}

.grid-navigation nav {
    display: inline-block;
}

.grid-navigation nav li:active {
    color: #e23943 !important;
    border-bottom: 2px solid #e23943;
}

.active {
    color: #e23943 !important;
    border-bottom: 2px solid #e23943;
}

/* grid */

.grid {
    width: 900px;
    margin-top: -50px;
    margin-left: 10px;
    position: relative;
}

/* slider main wrapper */

.slider-main-wrapper {
    float: left;
    margin:0 10px;
}

/* slider wrapper */

.slider-wrapper {
    width: 240px;
    height: 280px;
    position: relative;
    border-radius: 5px;
    overflow: hidden;
}

.slider-wrapper:hover > .slide-layer {
    display: block;
}

/* slider nav */

.slider-nav {
    position: absolute;
    width: 240px;
    z-index: 1;
}

.slider-nav .previous, .slider-nav .next {
    display: inline-block;
    margin-top: 48%;
    font-size: 2.2em;
    color: #fff;
}

.slider-nav .previous {
    margin-right: 162px;
    margin-left: -12px;
}

.slider-nav .next {
    margin-right: 0px;
    width: 35px;
}

.slider-nav .previous:hover, .slider-nav .next:hover {
    cursor: pointer;
}

/* slide layer */

.slide-layer {
    width: 250px;
    height: 280px;
    border-radius: 5px;
    background-color: rgba(0,0,0,0.5);
    position: absolute;
    z-index: 0;
    display: none;
    top: 0;
    left: 0;
}

/* favorite */

.slider-wrapper .icon-heart-empty {
    position: absolute;
    right: 15px;
    top: 15px;
    font-size: 1.8em;
    color: #fff;
    display: none;
}

.slider-wrapper:hover > .icon-heart-empty {
    display: block;
}


/* slider info */

.slider-info .rating, .slider-info h4 {
    margin-bottom: 0;
}

.slider-info .rating{
    display: inline-block;
    font-size: .8em;
    color: #fc3;
}

.slider-info h4 {
    display: inline-block;
    font-size: 1.2em;
    margin-top: 15px;
    
}

.slider-info .likes {
    margin-top: 5px;
    font-size: .8em;
    font-weight: 600;
}

/* slider */

.carousel-cell {
  width: 250px; /* full width */
  height: 280px; /* height of carousel */
  margin-right: 10px;
  z-index: -1;
}

.flickity-prev-next-button{
    background-color: transparent;
}

.flickity-prev-next-button:hover {
  background: transparent;
}

/* arrow color */
.flickity-prev-next-button {
    z-index: 99;
}
.flickity-prev-next-button .arrow {
  fill: white;
}
.flickity-prev-next-button.no-svg {
  color: white;
}

